:root{
  --common-color: #f0a32f;
  --nav-item-color: #0a2b1e;
  --common-bg-color: #0a2b1eb2;
}

.ListGroupItem{
  border: unset;
  background: unset;
}

.footer{
  background: rgba(226, 248, 248, 0.664);

}

.link{
  color: var(--common-bg-color);
  font-weight: 500;
}